
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background:#2b1055 ;
}
#galaxy{
    width:100%;
    height: auto;
}
#earth{
    margin-top: -350px;
    width: 100%;
    height: auto;
}





