<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{getAllUsers}">See all user</a><br>
<a th:href="@{index}">Homepage</a>
<h1>Create new user</h1>
    <form for="#" th:action="@{add}" th:object="${newUser}" method="post">
        <div>
            <label>
                Name
            </label>
            <label>
                <input type="text" name="name" th:field="*{name}">
            </label>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <div>
            <label>
                Surname
            </label>
            <label>
                <input type="text" name="surname" th:field="*{surname}">
            </label>
        </div>
            <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
        <div>
            <label>
                email
            </label>
            <label>
                <input type="text" name="email" th:field="*{email}">
            </label>
        </div>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <div>
            <label>
                password
            </label>
            <label>
                <input type="password" name="password" th:field="*{password}">
            </label>
        </div>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <button type="submit">Save</button>
    </form>
</body>
</html>